.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
/*.mega-menu ul li ul {display: none;}*/
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}
.mega-menu span{visibility:hidden;}
.main_menu {font: normal 13px Arial, sans-serif; color:white;border:0px solid black;float:left;margin-top:21px;padding-left:204px; position:absolute; z-index:99;}
.main_menu ul.mega-menu, .main_menu ul.mega-menu, .main_menu ul.mega-menu li {margin: 0; padding: 0; border: none;}



.main_menu ul.mega-menu {border:0px solid blue; height: 40px; position: relative;float:left;}
.main_menu ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 13px; }

			
.main_menu ul.mega-menu li.products{background:url(./images/products.png) no-repeat 0 0;width:155px;height:40px;}
.main_menu ul.mega-menu li.products:hover{background:url(./images/products_ov.png) no-repeat 0 0;}

.main_menu ul.mega-menu li.brand{background:url(./images/brand.png) no-repeat 0 0;width:126px;height:40px;}
.main_menu ul.mega-menu li.brand:hover{background:url(./images/brand_ov.png) no-repeat 0 0;}

.main_menu ul.mega-menu li.promotion{background:url(./images/promotion.png) no-repeat 0 0;width:168px;height:40px;}
.main_menu ul.mega-menu li.promotion:hover{background:url(./images/promotion_ov.png) no-repeat 0 0;}

.main_menu ul.mega-menu li.activity{background:url(./images/activity.png) no-repeat 0 0;width:142px;height:40px;}
.main_menu ul.mega-menu li.activity:hover{background:url(./images/activity_ov.png) no-repeat 0 0;}

.main_menu ul.mega-menu li.shop{background:url(./images/shop.png) no-repeat 0 0;width:115px;height:40px;}
.main_menu ul.mega-menu li.shop:hover{background:url(./images/shop_ov.png) no-repeat 0 0;}




.main_menu ul.mega-menu li a {float: left; display: block; color: #fff; padding: 12px 48px 12px 35px;  text-decoration: none;}

.main_menu ul.mega-menu li.products a{padding-right:68px;}
.main_menu ul.mega-menu li.brand a{padding-right:57px;}
.main_menu ul.mega-menu li.promotion a{padding-right:75px;}
.main_menu ul.mega-menu li.activity a{padding-right:63px;}
.main_menu ul.mega-menu li.shop a{padding-right:52px;}




.main_menu {font: normal 13px Arial, sans-serif; line-height: 16px;}
.main_menu ul.mega-menu, .main_menu ul.mega-menu, .main_menu ul.mega-menu li {margin: 0; padding: 0; border: none;}
.main_menu ul.mega-menu {background: #8998a8 url(images/bg_main_menu.png) repeat-x 0 -80px; width: 100%; height: 40px;  position: relative;}
.main_menu ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 13px; font-weight: bold;}
.main_menu ul.mega-menu li a {float: left; display: block; color: #fff; padding: 12px 38px 12px 25px; background: url(images/bg_main_menu.png) repeat-x 100% 0; text-shadow: 1px 1px 1px #000; text-decoration: none;}

.main_menu ul.mega-menu li.mega-hover a, .main_menu ul.mega-menu li a:hover {background-position: 100% -40px; color: #000; text-shadow: none;}
.main_menu ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.main_menu ul.mega-menu li .sub-container {position: absolute; background: url(images/bg_sub_left.png) no-repeat 0 100%; padding-left: 20px; margin-left: -3px;}
.main_menu ul.mega-menu li .sub {background: url(images/bg_sub.png) no-repeat 100% 100%; padding: 20px 20px 20px 10px;}
.main_menu ul.mega-menu li .sub-container.mega .sub {padding: 20px 20px 10px 0;}
.main_menu ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.main_menu ul.mega-menu li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal;}
.main_menu ul.mega-menu li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.main_menu ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.main_menu ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.main_menu ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {padding: 5px 5px 5px 15px; margin-bottom: 5px; background: #333 url(images/bg_mega_hdr.png) no-repeat 0 0; text-transform: uppercase; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #333;}
.main_menu ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #ff0000; text-shadow: none;}
.main_menu ul.mega-menu .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(images/arrow_off1.png) no-repeat 5px 7px; font-weight: normal;}
.main_menu ul.mega-menu .sub li.mega-hdr li a:hover {color: #fff; background: #666 url(images/arrow_on1.png) no-repeat 5px 7px;}
.main_menu ul.mega-menu .sub ul li {padding-right: 0;}
.main_menu ul.mega-menu li .sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
.main_menu ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.main_menu ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(images/arrow_off1.png) no-repeat 7px 10px;}
.main_menu ul.mega-menu li .sub-container.non-mega li a:hover {color: #fff; background: #666 url(images/arrow_on1.png) no-repeat 7px 10px;}